/* CSS Document */
/*Non-HTML5 Tag Support Reset*/
article, aside, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*Default Styling/Custom Reset*/
html, body{
	font-size:  16px;
	margin: 0;
	padding: 0;
	background: #f3f4f6;
	color: #333;
	font-family: 'Karla', sans-serif;
}

ul,li{
	list-style: none;
	margin: 0;
	padding: 0;
}

h1{
	margin: 0;
	margin: 0 2%;
	
	-ms-text-shadow: 1px 1px 1px #fff, .025em .025em .125em #999;
	-moz-text-shadow: 1px 1px 1px #fff, .025em .025em .125em #999;
	-webkit-text-shadow: 1px 1px 1px #fff, .025em .025em .125em #999;
	-o-text-shadow: 1px 1px 1px #fff, .025em .025em .125em #999;
	text-shadow: 1px 1px 1px #fff, .025em .025em .125em #999;
}
h2{
	font-size: 1.2em;
}

a{
	text-decoration: none;
	color: #333;
}

a[href^="http://"]{
	margin-right: .5em;
}
a[href^="http://"]:after{
	content:  " ";
	position: absolute;
	background:  url(/images/layout/link-external.png) no-repeat left center;
	
	-ms-background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
	width: .5em;
	height: 1em;
}

article section{
	overflow: auto;
}

article section a{
	text-decoration: underline;
}

figure{
	/*float: right;*/
}
	article section figure{
		/*margin-top: -.5em;
		margin-right:  -1.5em;*/
		
/*		-ms-transform:rotate(3deg);
		-moz-transform:rotate(3deg);
		-webkit-transform:rotate(3deg);
		-o-transform:rotate(3deg);
		transform:rotate(3deg);*/
	}
	article section figcaption{
/*		background: #fff;*/
/*		border: solid 1px #ddd;*/
		margin: -.5em 0 0 0;
/*		padding: .25em;*/
		text-align: center;
	}

figure img{
	border:  solid 5px #fff;
	-ms-box-shadow: 1px 1px .5em #999;
	-moz-box-shadow: 1px 1px .5em #999;
	-webkit-box-shadow: 1px 1px .5em #999;
	-o-box-shadow: 1px 1px .5em #999;
	box-shadow: 1px 1px .5em #999;
}
	figure.max{
		/*max-width:8em;*/
	}

small{
	padding: .5em 0;
	display: block;
	width: 100%;
	text-align: center;
	color: #999;
}

/*Blog Elements*/
.pagination{
	margin: auto auto;
	text-align: center;
	border: solid 1px #DDD;
	background: #FFF;
	padding: .5em;
	border-radius: .5em;
}
	.pagination a{
		width: 32%;
		border-right: solid 1px #DDD;
		display: inline-block;
	}
	.pagination a:hover{
		text-shadow: 1px 1px 5px rgba(0,0,0,.25);
	}
	.pagination a:last-child{
		border: none;
	}
	.pagination .next{
		/*float: right;*/
	}
	.pagination .previous{
		/*float: left;*/
	}
	.pagination .no-article{
		opacity: .5;
		cursor: default;
	}


/*SMACSS Style Structure*/
/*Base*/

/*Layout*/

/*Module*/
.buttonSet a{
/*	-ms-border-radius: 0em 4em 4em 0em / 0em 2em 2em 0em;
	-moz-border-radius: 0em 4em 4em 0em / 0em 2em 2em 0em;
	-webkit-border-radius: 0em 4em 4em 0em / 0em 2em 2em 0em;
	-o-border-radius: 0em 4em 4em 0em / 0em 2em 2em 0em;
	border-radius: 0em 4em 4em 0em / 0em 2em 2em 0em;*/
	
	-ms-border-radius: 1em;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	-o-border-radius: 1em;
	border-radius: 1em;
	
	text-align: center;
	
	background: #ccc;
	color: #fff;
	font-weight:  bold;
	padding: .5em 4em .5em 3em;
	margin-right: -2em;
	border:  solid 1px #fff;
}

.buttonSet a:hover{
	background: #000;
}
	
/*State*/