<header>
	<nav>
		<ul>
			<li class="book">
				<a href="{{ site.pathing.baseURL }}/book">
					<h1>Book</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
				</a>
			</li>
			
			<li class="glossary">
				<a href="{{ site.pathing.baseURL }}/glossary">
					<h1>Glossary</h1>
					<p>Praesent fringilla commodo odio vel bibendum</p>
				</a>
			</li>
			
			<li class="samples">
				<a href="{{ site.pathing.baseURL }}/samples">
					<h1>Samples</h1>
					<p>Sed venenatis orci vel magna blandit tempus</p>
				</a>
			</li>
			
			<li class="authors">
				<a href="{{ site.pathing.baseURL }}/authors">
					<h1>Authors</h1>
					<p>Nulla nec quam eu felis varius lacinia</p>
				</a>
			</li>
			
			<li class="blog">
				<a href="{{ site.pathing.baseURL }}/blog">
					<h1>Blog</h1>
					<p>Pellentesque habitant morbi tristique senectus et netus</p>
				</a>
			</li>
		</ul>
	</nav>
</header>