<header itemtype="http://schema.org/WPHeader">
	<hgroup class="cap">
		<section class="navHelper">
			<ul>
				<li><a href="{{ site.pathing.baseURL }}/">Home</a></li>
				<!--<li><a href="/site-map.html">Site Map</a></li>-->
			</ul>
		</section>
		
		<section class="blogTicker">
			<ul>
				<li>
					<!--Final Version this is live feed-->
					New web site launch and book pre-order availability
					<a href="{{ site.pathing.baseURL }}/blog">
						Read more
					</a>
				</li>
			</ul>
			
		</section>
	</hgroup>
	
	<a href="/"><div id="logo"><span>Presentation Patterns</span></div></a>
	
	<nav>
		<ul>
			<li class="book" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
				<a href="{{ site.pathing.baseURL }}/book" itemprop="url">
					<h1 itemprop="name">Book</h1>
					<p itemprop="description">What is this book?</p>
				</a>
			</li>
			
			<li class="glossary" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
				<a href="{{ site.pathing.baseURL }}/glossary" itemprop="url">
					<h1 itemprop="name">Glossary</h1>
					<p itemprop="description">Listing of the patterns in the book.</p>
				</a>
			</li>
			
			<li class="samples" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
				<a href="{{ site.pathing.baseURL }}/samples" itemprop="url">
					<h1 itemprop="name">Samples</h1>
					<p itemprop="description">Several sample patterns from the book.</p>
				</a>
			</li>
			
			<li class="authors" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
				<a href="{{ site.pathing.baseURL }}/authors" itemprop="url">
					<h1 itemprop="name">Authors</h1>
					<p itemprop="description">Biographies of the authors.</p>
				</a>
			</li>
			
			<li class="blog" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
				<a href="{{ site.pathing.baseURL }}/blog" itemprop="url">
					<h1 itemprop="name">Blog</h1>
					<p itemprop="description">Topical posts about presenting by the book's authors.</p>
				</a>
			</li>
		</ul>
	</nav>
</header>