---
layout:
---

<!DOCTYPE HTML>
<html>
	<head>
		<title>{{site.title}} • {{page.title}}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
        <!-- <script type="text/javascript" src="{{ site.pathing.baseURL }}/js/lib/html5shiv/html5shiv.js" /> -->
		
		<!--Google Font-->
		<link href='http://fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{ site.pathing.baseURL }}/css/base.css" />
		<link media="screen and (max-width: 35em)" rel="stylesheet" href="{{ site.pathing.baseURL }}/css/lt35em.css" />
		<link media="screen and (min-width: 35em)" rel="stylesheet" href="{{ site.pathing.baseURL }}/css/gt35em.css" />	

		<script type="text/javascript">
		
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-90707-11']);
		  _gaq.push(['_setDomainName', 'presentationpatterns.com']);
		  _gaq.push(['_trackPageview']);
		
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		
		</script>
		<meta name="google-site-verification" content="vs6xIYijem1p3zAoP_19Wv4m3YQLjU3B34bSbf0rZ9A" />
	</head>
	
	<body>
		<div id="container">
			{{ content }}
		</div><!--Close Container-->	
	</body>
</html>

